EXPO_PUBLIC_BASE_URL=localhost:8000
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name_here
EXPO_PUBLIC_CLOUDINARY_API_KEY=your_api_key_here
EXPO_PUBLIC_CLOUDINARY_PROFILE_PICTURE_PRESET=your_preset_name_here